@model List<core.Models.Played_for_regionModel>

<div class="table-responsive-md " style=" overflow-x:auto;">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped  table-sm">
                <thead>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model[0].player_id)
                        </th>
                        <th>
                            @Html.LabelFor(model => model[0].player_name)
                        </th>
                        <th>
                            @Html.LabelFor(model => model[0].region_id)
                        </th>
                        <th>
                            @Html.LabelFor(model => model[0].region_name)
                        </th>
                        <th>
                            @Html.LabelFor(model => model[0].region_ODI)
                        </th>
                        <th>
                            @Html.LabelFor(model => model[0].region_T_20_id)
                        </th>
                        <th>
                            @Html.LabelFor(model => model[0].region_test_id)
                        </th>

                        <th>
                            <a onclick="jQueryshowPopUp('@Url.Action("Add", "PlayedForRegion",null,Context.Request.Scheme)', 'Insert player region record')" class="btn btn-primary btn-sm text-light"><i class="fas fa-plus-circle p-1 d-inline"></i>Create_New</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (core.Models.Played_for_regionModel player in Model)
                    {
                        <tr>
                            <td>
                                @player.player_id
                            </td>
                            <td>
                                @player.player_name
                            </td>
                            <td>
                                @player.region_id
                            </td>
                            <td>
                                @player.region_name
                            </td>
                            <td>
                                @if (player.region_ODI != null)
                                {
                                    <a onclick="jQueryshowPopUp('@Url.Action("Player", "RegionODI",new { id = player.region_ODI},Context.Request.Scheme)', 'Player region ODI record')" class="btn btn-info btn-sm text-light"><i class="far fa-edit p-1 d-inline"></i>View</a>
                                }
                                else
                                {
                                    <a onclick="jQueryshowPopUp('@Url.Action("Add", "RegionODI", null, Context.Request.Scheme)', 'Add Player region ODI record')" class="btn btn-success btn-sm text-light"><i class="far fa-edit p-1 d-inline"></i>Add</a>
                                }

                            </td>
                            <td>
                                @if (player.region_T_20_id != null)
                                {
                                    <a onclick="jQueryshowPopUp('@Url.Action("Player", "RegionT20",new { id = player.region_T_20_id},Context.Request.Scheme)', 'Player region T20 record')" class="btn btn-info btn-sm text-light"><i class="far fa-edit p-1 d-inline"></i>View</a>
                                }
                                else
                                {
                                    <a onclick="jQueryshowPopUp('@Url.Action("Add", "RegionT20", null, Context.Request.Scheme)', 'Add Player region T20 record')" class="btn btn-success btn-sm text-light"><i class="far fa-edit p-1 d-inline"></i>Add</a>
                                }

                            </td>
                            <td>

                                @if (player.region_test_id != null)
                                {
                                    <a onclick="jQueryshowPopUp('@Url.Action("Player", "RegionTest",new { id = player.region_test_id}, Context.Request.Scheme)', 'Player region test record')" class="btn btn-info btn-sm text-light"><i class="far fa-edit p-1 d-inline"></i>View</a>
                                }
                                else
                                {
                                    <a onclick="jQueryshowPopUp('@Url.Action("Add", "RegionTest", null, Context.Request.Scheme)', 'Add Player region test record')" class="btn btn-success btn-sm text-light"><i class="far fa-edit p-1 d-inline"></i>Add</a>
                                }
                            </td>


                            <td class="row">
                                <a onclick="jQueryshowPopUp('@Url.Action("Edit", "PlayedForRegion",new { id = player.player_id},Context.Request.Scheme)', 'Update player region record')" class="btn btn-primary btn-sm text-light"><i class="far fa-edit p-1 d-inline"></i>Edit</a>
                                <a onclick="jQueryshowPopUp('@Url.Action("Delete", "PlayedForRegion",new { id = player.player_id},Context.Request.Scheme)', 'Delete player region record')" class="btn btn-danger btn-sm d-inline text-light"><i class="far fa-trash-alt p-1 d-inline"></i>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
