@model core.Models.Int_T20Model

@{
    ViewData["Title"] = "Delete Int. T20 record";
    Layout = null;
}

<h3 class="text-center">@ViewData["Title"]</h3>
<div>
    <div class="container">
        <div class="col-108 mx-auto">
            <h5 class="text-danger text-center">Are you sure you want to delete this?</h5>
            <hr />
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.T_20_bat_rank)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.T_20_bat_rank)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.fifties)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.fifties)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.style)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.style)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.runs)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.runs)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.hundreds)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.hundreds)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.fours)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.fours)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.sixes)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.sixes)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.average)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.average)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.T_20_bow_rank)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.T_20_bow_rank)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.best_figure)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.best_figure)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.runs_conceded)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.runs_conceded)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.wickets)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.wickets)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.fiveWick)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.fiveWick)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.econymy)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.econymy)
                </dd>
            </dl>
            <form asp-action="Delete" asp-route-id="@Model.T20_id" onsubmit="return ajaxPost(this);">
                <input type="hidden" asp-for="T20_id" />

                <input type="submit" value="Delete" class="btn btn-danger btn-block" /><br />

            </form>
        </div>
    </div>
</div>
